<form id="login" action="/sessions" method="post">
  <fieldset>
    <legend>Login</legend>
    <div class="alert alert-error" style="display:none;"></div>
    <div class="control-group">
      <label for="name" class="control-label">Email</label>
      <div class="controls">
        <input id="email" name="email" type="text" placeholder="Email" />
      </div>
    </div>
    <div class="control-group">
      <label for="password">Password</label>
      <div class="controls">
        <input type="password" name="password" id="password" placeholder="Password" >
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
