<form id="new_project" action="/projects" method="post">
  <fieldset>
    <legend>New Project</legend>
    <div class="control-group">
      <label for="name" class="control-label">Project Name</label>
      <div class="controls">
        <input id="name" name="name" type="text" placeholder="Project Name" value="{{ name }}" />
      </div>
    </div>
    <div class="control-group">
      <label for="description">Description</label>
      <div class="controls">
        <textarea id="description" name="description" rows="5" cols="30" class="control-label">{{ description }}</textarea>
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
