<form id="new_project" action="/issues" method="post">
  <fieldset>
    <legend>New Issue</legend>
    <div class="control-group">
      <label for="name" class="control-label">Issue Name</label>
      <div class="controls">
        <input id="name" name="name" type="text" placeholder="Issue Name" />
      </div>
    </div>
    <div class="control-group">
      <label for="description">Description</label>
      <div class="controls">
        <textarea id="description" name="description" rows="5" cols="30" class="control-label"></textarea>
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
